td.all_day {
	background-color: white;
	border: 1px black solid;
	padding: 2px;
	width: 150px;
}
#calendar {
	padding: 10px;
}
.calendar_category,.calendar_location,.calendar_time {
	color: #777;
	font-size:9pt;
	padding-right: 5px;
}
#calendar_checkboxes {
	padding-bottom: 5px;
}
.calendar_component>table {
	padding: 10px;
}
.calendar_date {
	font-size: 10pt;
	padding: 4px 5px;
	text-align:center;
}
.calendar_event_text {
	display: block;
	padding-left: 5px;
}
#calendar_foot {
	font-size: 13px;
	padding: 5px 0;
}
#calendar_head {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 20px;
}
@media (max-width: 500px) {
	#calendar_head {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
	.weekday-cdr {
		display: none;
	}
}
.calendar_notes {
	display: block;
	padding-left: 5px;
}
.calendar_posted_by {
	color: #777;
	padding-right: 5px;
}
table.days_view {
	border-collapse: separate;
	border-spacing: 2px;
	margin: 0 auto;
}
.disabled_button,.disabled_button:active,.disabled_button:hover {
	background: transparent;
	border: none;
	box-shadow: none;
	color: inherit;
	float: none !important;
	margin-left: 0;
	margin-top: 0;
}
#calendar div:empty {
   display: none;
}
.event {
	border: 1px solid #999;
	border-radius: 2px;
	color: #444;
	font-size: 10pt;
	overflow: hidden;
	padding: 1px 3px;
}
.event label {
	display: inline; 
}
.other_calendar_label {
	color: #777;
	font-size:xx-small;
	text-align:center;
}
button.month_view {
	margin-bottom: 2px;
	visibility: hidden;
}
table.month_view {
	border: 1px solid black;
	table-layout: fixed;
	width: 100%;
}
table.month_view td {
	background-color: white;
	border: 1px solid black;
	color: #444;
	font-size: 12pt;
	height: 80px;
	padding: 2px;
	vertical-align: top;
}
table.month_view th {
	background-color: #333;
	color: white;
	padding: 2px;
	width: 14%;
}
table.month_view td.day {
	vertical-align: top;
}
table.month_view td.non_day {
	background-color: #efefef;
	color: #757575;
	vertical-align: top;
}
table.month_view td.non_day b a {
	color: #757575;
}
#calendar p {
	margin: 0;
}
#calendar p:empty {
   display: none;
}
#calendar .today {
	background-color: #9FEAFF;
	vertical-align: top;
}