.comment {
	color: #141823;
	margin-bottom: 4px;
	position: relative;
}
.comment .glyphicon {
	color: #9197a3;
	cursor: pointer;
	float: right;
	margin-right: 12px;
}
.comment > span {
	color: #9197a3;
	cursor: pointer;
	float: right;
}
.comment_input {
	width: 100%;
}
.comment_input div {
	background: white;
	border: 1px solid #dcdee3;
}
.comment_input input {
	background: white;
}
.comment_person {
	color: #3B5998;
	font-weight: bold;
}
.comment_text {
	margin-left:40px;
	max-width:800px;
	vertical-align:middle;
}
.comment_time {
	color: #9197A3;
}
.comments {
	background-color: #f6f7f8;
	border: 12px solid #f6f7f8;
	color: #141823;
	font-size: 12px;
	line-height: 16px;
	max-height: 300px;
	overflow: auto;
}
.comments img {
	border: 1px solid #dcdee3;
	height: 32px;
	margin-right: 8px;
	width: 32px;
}
.comments input {
	border: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	color: #141823;
	display: inline;
	font-size: 12px;
	height: 16px;
	outline: none;
	width: 100%;
}.comments td {
	background-color: #f6f7f8;
}
.comments_divider {
	border-bottom: 1px solid #E9EAED;
	height: 1px;
}
.glyphicon-apple {
	margin-bottom:2px;
	margin-top:-2px;
}
.news_item {
	background: white;
	border: 1px solid;
	border-color: #e9eaed #dfe0e4 #d0d1d5;
	border-radius: 3px;
	color: #141823;
	margin-top: 10px;
}
.news_item a, .news_item a:hover {
	color: #365899;
}
.news_item > div:first-child {
	padding: 12px;
	white-space: pre-line;
}
.news_item h5 {
	color: #141823;
}
.news_item_dialog {
	width: 536px;
}
.news_item_header {
	color: #9197a3;
	font-size: 12px;
	margin-bottom: 11px;
	position: relative;
}
.news_item_header > span {
	cursor: pointer;
	float: right;
}
.news_item_header h5 {
	font-size: 14px;
	margin: 0;
}
.news_item_header img {
	margin-right: 8px;
	max-height: 40px;
	max-width: 40px;
}
.news_item_person {
	color: rgb(59, 89, 152);
	font-weight: bold;
	text-shadow: none;
}
.news_item_pictures {
	column-gap: 10px;
	columns: 1;
}
@media only screen and (min-width: 768px) {  .news_item_pictures {
    columns: 2;
  }
}
.news_item_pictures img {
	border-radius: 4px;
	display: inline-block;
	margin-bottom: 10px;
	max-width: 100%;
	vertical-align: top;
}
.news_items {
	font-family: Helvetica,Arial,"lucida grande",tahoma,verdana,arial,sans-serif;
	margin: 0 auto 20px auto;
}
.post {
	background-color: #f6f7f8;
	border-top: 1px solid #E9EAED;
	padding: 8px;
}
.status {
	background: white;
	border: 1px solid;
	border-color: #e9eaed #dfe0e4 #d0d1d5;
	border-radius: 3px;
	margin: 10px auto 0 auto;
}
.status .glyphicon {
	color: #555;
	cursor: pointer;
	font-size: 20px;
	vertical-align: middle;
}
.status textarea {
	border: 0 !important;
	box-shadow: none !important;
	color: black;
	outline: none;
	resize: none;
}
.status textarea::placeholder {
	color: #b1b1b1;
}
.status_text {
	padding: 12px;
}